<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-s
    cale=1">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <title>Harikrishna's Blog</title>
  </head>
  <body>
      <nav class="nav-menu">
        <span id="name">WEB322 - Harikrishna Patel</span>
        <a>{{#navLink "/blog"}}Blog{{/navLink}}</a>        
        <a>{{#navLink "/about"}}About{{/navLink}}</a>        
        <a>{{#navLink "/posts"}}Posts{{/navLink}}</a>      
        <a>{{#navLink "/categories"}}Categories{{/navLink}}</a>    
        <a>{{#navLink "/posts/add"}}Add Post{{/navLink}}</a> 
      </nav>
    <main>
      {{{body}}}
    </main>
  </body>
</html>