<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-s
    cale=1">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <title>About</title>
  </head>
  <body>
    <header>
      <nav class="nav-menu">
        <span " id="name">WEB322 - Harikrishna Patel</span>
        <a href="/blog">Blog</a>
        <a href="/about">About</a>
        <a href="/posts">Posts</a>
        <a href="/categories">Categories</a>
        <a href="/posts/add">Add Post</a>
      </nav>
    </header>
    <main>
      <div class="info">
        <div class="info-text1">
          <h2>About</h2>
          <p>
              I am Harikrishna persuing Computer programming course at Seneca College and I am an entry-level Software engineer 
              with a strong background in computer science and a passion for creating innovative and efficient software. I have 
              experience in a wide range of programming languages including C++, Java, Python, and JavaScript. My education and 
              coursework in Data structures, Algorithm design, software engineering, and database systems have prepared me to 
              tackle any challenge.

              I am a quick learner who is excited about staying current with emerging technologies and industry trends. I have 
              experience working in a team environment and have learned the importance of clear communication and effective collaboration.

              I am open to connecting with other professionals in the field, so feel free to reach out if you would like to connect or 
              discuss potential opportunities. 
          </p>
        </div>
        <div class="info-text2">
          <h2>Coming Soon</h2>
          <p>
              Please keep an eye out for future updates as we continuously strive to improve and bring you the latest information. 
          </p>
        </div>
      </div>
    </main>
  </body>
</html>