<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Post</title>
    <link rel="stylesheet" type="text/css" href="/css/post.css">
</head>
<body>
    <form>
        <h1>Add Post</h1>
        <h3>Feature Image</h3>
        <hr class="title">
        <label for="photo"></label>
        <input id="photo" name="photo" type="file"><br>
        <h3>Post Content</h3>
        <hr class="title">
        <label for="title"><strong>Title:</strong></label>
        <input id="title" name="label" type="text"><br>
        <label for="body"><strong>Body:</strong></label>
        <textarea id="body" name="body" type="text" rows="10"></textarea><br>
        <div class="submenu">
            <div class = subcontent>
                <label for="category"><strong>Category:</strong></label>
                <select id="category" name="category">
                    <option value="technology"><strong>Technology</strong></option>
                </select>
            </div>
            <div class="subcontent">    
                <label for="visibility"><strong>Visibility:</strong></label>
                <div class="column">
                    <input id="visibility" name="visibility" type="checkbox" value="published">
                    <label class="text-space" for="published">Published</label>
                </div>
            </div>
        </div>
        <hr class="foothr">
        <div class="right">
            <input class="submit" type="submit" value="Add Post">
        </div>
    </form>
    <hr class="foothr2">
</body>
</html>