<div class="row">
    <div class="col-md-12">
        <h2>Posts</h2>
        <hr />

        <table class="table table-light table-striped table-hover table-borderless">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Post ID</th>
                    <th scope="col">Title</th>
                    <th scope="col">Post Date</th>
                    <th scope="col">Category</th>
                    <th scope="col">Published</th>
                </tr>
            </thead>
            <tbody>
                {{#each data}}
                <tr>
                    <td>{{id}}</td>
                    <td>{{name}}</td>
                    <td>{{min_size}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>

    </div>
</div>