/**
 * import google fonts EB Garamond, Roboto, Cookie, Lora
 */
@import url("https://fonts.googleapis.com/css2?family=Cookie&family=EB+Garamond&family=Lora&family=Roboto&display=swap");

nav, a{
    font-family: "Lora", "serif";
}

#name {
    color: rgb(255, 153, 0);
    font-family: "Roboto", "sans-serif";
}

p {
    font-family: "EB Garamond", "Georgia";
}

h2 {
    font-family: "cookie", "Franklin Gothic Medium";
}
